[2021-07-27 12:53] #524 closed

[2021-07-27 13:01] dreysolano commented on #524
@danielroe - Thanks for the lightning fast response! Yep, upgrading the Node version for the build did the trick. Much appreciated 👍🏼

[2021-07-27 21:35] danielroe commented on #507
Also note this reproduction: https://github.com/nonlinearcom/nuxt-use-test

[2021-07-28 12:23] #507 closed

[2021-07-28 12:23] #521 closed

[2021-07-28 12:37] danielroe commented on #507
Fix released in `0.26.0` - let me know if that doesn't work for you.

[2021-07-28 12:37] danielroe commented on #521
Fix released in `0.26.0` - let me know if that doesn't work for you.

[2021-07-28 15:45] claranceliberi commented on #521
it doesn't work

[2021-07-29 05:56] danielroe commented on #521
@claranceliberi Just taking a surface look at your choice, I'd guess that's because you're 'freezing' a reactive value at a moment in time:
[code]
With this, even if the route param update, `useAuth` won't update because setup doesn't get rerun. Instead, you should refactor your code to use computed values, or run functions when a watched value changes.

[2021-07-29 07:32] claranceliberi commented on #521
I've just updated my code but still, i am stuck

[code]

[2021-07-29 07:48] danielroe commented on #521
@claranceliberi You are still freezing it at a moment in time. If you prepare a reproduction on https://template.nuxtjs.org I'm happy to give you some help.

[2021-07-29 08:07] jeanmatthieud commented on #428
It's really missing as the loading functionality is a core functionality of NuxtJs

[2021-08-03 02:10] chovyprognos commented on #19
how do i create a setter?

[2021-08-09 11:02] silverbackdan commented on #189
This issue appeared again for me today after an npm dependency upgrade.

The fix to explicitly import `PropType` as a `type` using `import type { PropType } from 'vue'` still works.

[2021-08-09 16:36] liqueflies commented on #44
Hi danielRoe, this issue is present only when using nuxt-cmposition-api fetch methods or also with nuxt asyncData and fetch old methods?

[2021-08-10 08:48] DanSnow opened #527 "feat: able to configure fetchKey with `useFetch` hook"
**🆒 Your use case**
I have several components which are using `fetch` hook, and these components may use over 100 times in total on a page. I need to add `fetchKey` for them so Nuxt can get the correct value. I want to reuse the data in `setup` hook to generate the `fetchKey`.

**🆕 The solution you'd like**
Describe what you want to happen.

[code]

**🔍 Alternatives you've considered**
Have you co

[2021-08-11 00:41] seSze opened #529 "help: Why useFetch is called twice?"
Code example:

[code]

**📚 What are you trying to do? Please describe.**
Fetching the post takes place in both server and client. Why it does this additional call? Post has been already fetched on the server so this shouldn't take place as with standard fetch from nuxt or am I missing sth?

[2021-08-11 05:29] danielroe commented on #529
@seSze Would you provide a reproduction?

[2021-08-11 05:54] danielroe commented on #44
@liqueflies This should only be present in rare circumstances with this library and not at all if using built-in Nuxt methods.

[2021-08-11 07:45] seSze commented on #529
sure but this happens for every single implementation of useFetch

[2021-08-11 08:25] #518 closed

[2021-08-13 16:29] Destaq commented on #428
Running into this issue now and it's a major pain point. Any chance of this being implemented in Nuxt Composition API?

[2021-08-13 20:59] xxSkyy commented on #72
Thanks, that works perfect!

[2021-08-14 12:26] Mensix opened #530 "fix: useFetch and useMeta together not working"
**🐛 The bug**
When using useMeta hook inside the useFetch, the title value should get updated - which happens just for some miliseconds, then it's reset to the default state.

**🛠️ To reproduce**
Steps to reproduce the behavior:

1. Go to https://github.com/Mensix/ssr-test and clone the repository
2. Run npm run dev
3. Go to http://localhost:3000/1
4. Notice the bug

**🌈 Expected behaviour**
Title

[2021-08-14 22:22] danielroe commented on #530
This is the same issue as https://github.com/nuxt-community/composition-api/issues/383. The workaround there may be helpful.

[2021-08-14 22:22] #530 closed

[2021-08-15 09:32] Mensix commented on #530
Wop, sorry didn't notice that :) Nevertheless (as mentioned in another similar issue), could it be implemented somewhen? Maybe not even in this package, but in Nuxt 3. My use case is dynamically generated OpenGraph meta tags, and I'm looking forward to have a way for it (I'm currently struggling with undefineds using computed useMeta).

[2021-08-17 09:24] Rigo-m opened #532 "feat: Write JSON files on SSR with useStatic"
**🆒 Your use case**
What if I have a huge website with expensive calls and I can't generate each page (let's say some pages are pre-generated and some are not).
I'd like to be able to leverage useStatic functionality because it can be used both on generated routes and on SSR routes and it all works correctly.

But what if I want to create some sort of ISR leveraging useStatic? I can set a regenera

[2021-08-20 05:20] danielroe commented on #493
Probably it runs twice because the second inline function doesn't return anything.

[2021-08-20 05:21] #429 closed, assigned to nobody

[2021-08-20 14:03] VivianSolide opened #533 "help: ERR_PACKAGE_PATH_NOT_EXPORTED on Node v14.7.0 (cypress/base:14)"
**📚 What are you trying to do? Please describe.**
I'm trying to run my Cypress tests on my CI with the composition-api v0.27.0

**🔍 What have you tried?**
I upgraded Cypress with [cypress/base:14](https://hub.docker.com/layers/cypress/base/14/images/sha256-d824405037ac825b1601c672da9775dbcb877c0716907880c4904b2e7c938c8b?context=explore)

**ℹ️ Additional context**
[fatal] Package subpath './dist/vu

[2021-08-20 14:48] VivianSolide commented on #533
I upgraded to [cypress/base:14.17.0](https://hub.docker.com/layers/cypress/base/14.17.0/images/sha256-f6e8f8aa81ce06e8766b37fc0f6976f1bf72156a3d094dd3389dc36f343bcc64?context=explore) and it worked! :tada:

[2021-08-20 14:48] #533 closed

[2021-08-21 21:48] fabian-hiller opened #534 "fix: Refs are not automatically shallow unwrapped when accessed in the template"
**🐛 The bug**
 Refs are not automatically shallow unwrapped when accessed in the template. Therefore, the object syntax is rendered in the browser instead of the value.

If I append `.value` to the end it works. However, this is not the expected behavior according to the [Vue 3 documentation](https://v3.vuejs.org/guide/composition-api-setup.html#usage-with-templates). If this is how the behavior i

[2021-08-22 06:31] danielroe commented on #534
@fabian-hiller Would you provide a reproduction? You're quite right, it doesn't seem like this falls within [the expected limitations](https://github.com/vuejs/composition-api#limitations).

[2021-08-22 08:20] fabian-hiller commented on #534
Hey @danielroe, I'm sorry! I read into the documentation and it was my mistake. In my code it was a nested ref where according to the [documentation](https://v3.vuejs.org/guide/reactivity-fundamentals.html#ref-unwrapping) `.value` is needed.

[2021-08-22 08:20] #534 closed

[2021-08-24 03:12] AndrewBastin commented on #505
This might be relevant to you: https://github.com/antfu/vue2-script-setup-transform

[2021-08-25 13:01] Clex1o1 opened #535 "fix: $fetchState in template leads to hydration error"
**🐛 The bug**
Using the useFetch methods and add conditional template renderings depending on the `$fetchState.pending` or `$fetchState.error` leads to hydrition errors.

**🛠️ To reproduce**
Steps to reproduce the behavior:
my codesandbox: https://codesandbox.io/s/elastic-ardinghelli-vi4vy?file=/pages/index.vue

Add conditional rending to template which uses useFetch:
[code]

**🌈 Expected behaviou

[2021-08-27 07:25] vuejstime opened #536 "add setup to script"
**please add setup in script tag**
hello i'm using composition api for a huge project and it's very hard to expose any thing i need to the templete.
please add ```<script setup>``` syntax if it's possible

[2021-08-30 08:58] renovate[bot] opened #538 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [chore(deps): update all non-major dependencies](../pull/496) (`@release-it/conventional-changelog`, `@typescript-eslint/eslint-plugin`, `@typ

[2021-08-30 15:31] Rigo-m opened #539 "fix: composition-api breaks storybook build"
**🐛 The bug**
Composition-api is breaking storybook build

Posting here as well, but main issue is here: https://github.com/nuxt-community/storybook/issues/318

[2021-08-31 02:22] baixiaoyu2997 commented on #509
@danielroe hi, i have a question ,
i use `useAsync` like this:
[code]
it should run server only. but it run server and client, and i don't konw why.

package.json
[code]

[2021-09-01 12:06] #300 closed

[2021-09-01 12:55] #502 closed

[2021-09-01 18:27] ronmacro commented on #539
Experiencing same issue with vue-layers:

no canvas when '@nuxtjs/composition-api/module' is added to buildModules

[2021-09-02 11:23] baixiaoyu2997 commented on #509
@danielroe thank you for your time 😄

[2021-09-03 16:54] danieljaywhy commented on #539
@Rigo-m  @ronmacro - have you checked your node version, Node v~14 doesn't work with package.json exports, so upgrading to v15.14.0 worked for me.

[2021-09-03 17:05] danielroe commented on #539
@danieljaywhy Note that _some_ older versions of node 12/14 may not work, but the latest node 12/14 should work fine.

[2021-09-03 17:07] Rigo-m commented on #539
@danieljaywhy @danielroe tried in my reproduction repo (which you can find in the attached issue), still no luck using node 16. (I have launched these commands: `nvm use node 16 && rm -rf ./node_modules && yarn && yarn storybook:build`)

[2021-09-03 17:10] danieljaywhy commented on #539
@Rigo-m have you tried 15.14.0? I found v16 won't work as node/fibres does not support it, this may be local to my machine but we may have similar set ups.

[2021-09-03 17:15] Rigo-m commented on #539
I'll try that specific version as soon as I'm back home

[2021-09-03 17:59] riderx commented on #341
I got the same issue for 2 other plugin.
Everything you need is documented here :  https://typescript.nuxtjs.org/cookbook/plugins#iii-combined-inject

[2021-09-04 19:36] #536 closed

[2021-09-05 05:55] mirabledictu opened #543 "Cannot find name of macros"
I installed the latest version that includes the `script setup` plugin and got this when using macros:

![Screen Shot 2021-09-05 at 1 54 39 PM](https://user-images.githubusercontent.com/86201195/132116988-23186a5e-e304-4c51-acf1-796615d2a561.png)

The steps I did

1. Installed latest nuxt composition-api
2. `@vue/runtime-dom` already at latest version
3. Added `unplugin-vue2-script-setup/types` in

[2021-09-05 06:02] mirabledictu commented on #543
My bad, `@vue/runtime-dom` is not in the latest version

[2021-09-05 06:02] #543 closed

[2021-09-05 12:44] reliut-g commented on #500
@edumudu https://github.com/nuxt-community/composition-api/blob/4c3e73426c4bc78127bca5393b05be4fec65f369/src/runtime/composables/fetch.ts#L86

[2021-09-06 06:52] Rigo-m commented on #539
@danieljaywhy I can confirm the problem affects 15.14.0 as well.
I kind of forgot to post the error in console, which states: ```Failed to generate dynamic story source: TypeError: Cannot read property '_vnode' of null
warn @ vendors~main.be44b584.iframe.bundle.js:2
mounted @ vendors~main.be44b584.iframe.bundle.js:2
invokeWithErrorHandling @ vendors~main.be44b584.iframe.bundle.js:2
callHook @ vend

[2021-09-07 02:05] ikamez opened #544 "help:"
I'm trying to install this package but I got this error
"Package subpath './dist/vue-composition-api.esm.js' is not defined"

Yarn : 1.22.11
Nuxt : 2.15.7
@nuxtjs/composition-api: 0.28.0

Please help.

[2021-09-07 03:17] xxyqyq commented on #544
I have the same problem
node： 14.12.0
@nuxtjs/composition-api: 0.28.0
nuxt: 2.15.8
npm : 6.14.8

[2021-09-07 06:09] xxyqyq commented on #544
Solved after updating the node version, this 14.12.0 version does not support the new features

[2021-09-07 06:37] ikamez commented on #544
@xxyqyq

Which node version that you use now ?

[2021-09-07 06:52] xxyqyq commented on #544
14.17.6

[2021-09-07 07:16] #544 closed

[2021-09-07 07:17] ikamez commented on #544
This issue solved

[2021-09-07 08:45] ddosdor commented on #539
I have the same problem - the canvas is blank with '@nuxtjs/composition-api/module'. Unfortunately I have no way to verify without this module in 'buildModules' as I already have a finished project. :(
The problem occurs on both node 14.17.5 and 15.14.0.

`Failed to generate dynamic story source: TypeError: Cannot read properties of null (reading '_vnode')`

[2021-09-07 09:36] Rigo-m commented on #539
No need to verify in your project, there is already a reproduction repo attached to this issue: https://github.com/nuxt-community/storybook/issues/318

[2021-09-08 08:18] barikhan1986 opened #545 "fix: useAsync called one time for dynamic URL in SSR mode"
**🐛 The bug**
useAsync called one time for dynamic URL in SSR mode

**🛠️ To reproduce**
Steps to reproduce the behavior:

1- add dynamic page : category/_id.vue
2- in _id.vue add links like:
[code]

3- in _id.vue add :
` const categoryDetails =  useAsync(() => categoryDetails(categoryId))`
to fetch category data in server

4- Now open IP::PORT/category/1, useAsync will working fine

5- click in "c

[2021-09-08 09:03] danielroe commented on #545
@barikhan1986 This is by design. You can pass a 'key' to `useAsync` that is based on the slug if you want what it has cached to vary based on the slug.

See https://github.com/nuxt-community/composition-api/issues/171 for more discussion.

[2021-09-08 09:03] #545 closed

[2021-09-08 12:42] flavionn opened #546 "fix: `<script setup>` does not fully support pug template"
Hello

im trying to use getter and script setup in my SFC

[code]

and in my template i have:

[code]

but im getting this:

[code]

ps - console.log(isLoggedIn) is returning correct result from getter

"@nuxtjs/composition-api": "0.28.0"
"nuxt": "2.15.8"
"nuxt-vite": "0.2.4"

[2021-09-08 13:02] danielroe commented on #546
Seems to work fine for me with normal HTML template: https://codesandbox.io/s/green-forest-1siz9?file=/pages/index.vue

Perhaps you could see if that makes a difference for you, or if not, provide a reproduction? 🙏

[2021-09-08 21:01] flavionn commented on #546
thanks for reply, im trying to work in a reproduction. for now the only diference i saw in your example was the store. im using in a folder structure.

like this:
<code>store > users > getters.js</code>
[code]

[2021-09-09 08:42] antfu commented on #546
vue2-script-setup does not support pug atm, please open an issue there instead and PR is also welcome!

[2021-09-09 13:02] adamberecz opened #548 "fix: ERR_PACKAGE_PATH_NOT_EXPORTED with @nuxtjs/composition-api"
**🐛 The bug**
Getting the following error with a fresh install and `@nuxtjs/composition-api`:

[code]

**🛠️ To reproduce**
Steps to reproduce the behavior:

- Install a fresh nuxt with npm
- Install `@nuxtjs/composition-api`
- Add to build modules:
[code]
- Hit `npm run dev`

**🌈 Expected behaviour**
Nuxt app starts without an error.

**ℹ️ Additional context**
[code]

npm version: 6.14.4
node vers

[2021-09-09 13:17] danielroe commented on #548
@adamberecz Try upgrading your version of node 14. ☺️

[2021-09-09 13:58] adamberecz commented on #548
🙏

[2021-09-09 13:58] #548 closed

[2021-09-09 17:01] riderx opened #549 "UseMeta doesn't work with setup script"
**🐛 The bug**
UseMeta doesn't work in the setup script

**🛠️ To reproduce**
Steps to reproduce the behavior:
[code]
Then you can see the error ```
In order to enable `useMeta`, please make sure you include `head: {}` within your component definition, and you are using the `defineComponent` exported from @nuxtjs/composition-api.
[code]

[2021-09-09 19:56] antfu commented on #546
Supported in v0.6.1

[2021-09-09 20:00] #546 closed

[2021-09-10 09:22] riderx commented on #549
Ok i found the issue is coming from sub package not thi one.
https://github.com/antfu/unplugin-vue2-script-setup/issues/11

[2021-09-11 12:42] ziaadini opened #550 "issue with useFetch and pinia"
**🐛 The bug**
hello
this is the error:
[code]

**🛠️ To reproduce**
my store
[code]

my composition function:
[code]

my versions:
[code]

[2021-09-11 15:30] vuejstime commented on #550
i found the issue, it is because i'm trying pass whole store to template

[2021-09-11 18:06] king-11 commented on #536
I am not able to use `defineProps` with nuxt composition API

[2021-09-12 16:13] #550 closed

[2021-09-13 06:08] nbili opened #551 "fix: useFetch with computed has warning in dev environment"
**🐛 The bug**
useFetch with computed has warning in dev environment

![image](https://user-images.githubusercontent.com/22109673/133031870-e04410b9-c0ca-4bc0-bff5-2851c83273b8.png)

**🛠️ To reproduce**
Steps to reproduce the behavior:

useFetch and computed function exist at the same time

[2021-09-13 15:08] TrungRueta opened #553 "fix: typescript for script setup incorrect."
**🐛 The bug**
As from version 0.28 we start support script setup. Test files for now only on javascript. In Typescript i found that ref variables not converted to value on template:

![image](https://user-images.githubusercontent.com/12226007/133107870-b8d3c902-cb34-4119-ba3a-0ddf16c727e2.png)

Our document still not mention about typescript type, since we use [unplugin-vue2-script-setup](https://

[2021-09-14 19:39] flavionn commented on #546
hello! just one more question in here.

it is possible use unplugin-vue2-script-setup version 0.6.1 while nuxtjs composition api is not updated with this version?

i tried put unplugin-vue2-script-setup in resolutions in my `package.json` but got this message

[code]

[2021-09-16 08:07] farnabaz opened #554 "fix: using `useFetch` breaks raise undefined error on 404 page"
**🐛 The bug**
When using `useFetch` composable inside setup function will raise undefined error when navigating to 404 page.

I think this might be related to generating `fetchKey`

**🛠️ To reproduce**
This issue only happens in static website, Steps to reproduce the behavior:

1. Clone https://github.com/nuxt/nuxtjs.org/tree/32f6498640d0cb99772a70fc8cf27477351ad767
2. `yarn generate`
3. `yarn sta

[2021-09-17 08:02] thisVioletHydra opened #555 "fix: [Vue warn]: toRefs() expects a reactive object but received a plain one."
**🐛 The bug**
What isn't working? Describe what the bug is.

**🛠️ To reproduce**
Steps to reproduce the behavior:

run nuxt
add https://pinia.esm.dev/ssr/nuxt.html
import store like

[code]
store:
[code]

I'd be very grateful for a link to a gist or repo that reproduces the bug.

**🌈 Expected behaviour**
What did you expect to happen? Is there a section in the docs about this?

**ℹ️ Additional con

[2021-09-17 08:08] danielroe commented on #555
@thisVioletHydra Would you provide a reproduction via https://template.nuxtjs.org ? 🙏

[2021-09-17 08:15] thisVioletHydra commented on #555
okay no problem

[2021-09-17 08:31] thisVioletHydra commented on #555
https://codesandbox.io/s/weathered-bird-l4kww?file=/components/Test.vue
push refresh page
![image](https://user-images.githubusercontent.com/11839238/133751302-280f05d5-bc58-4867-ab6c-be7825f7d2e1.png)
![image](https://user-images.githubusercontent.com/11839238/133751315-b0c002ca-f8e5-4a75-b093-7516dcb69741.png)

[2021-09-18 07:22] hotrungnhan opened #556 "docs: there some issue with vuex store doc"
**📚 Is your documentation request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I feel I should be able to [...] but I can't see how to do it from the docs.
i find out a little issue with vuex store.
it's "userStore" interface is so diferent with the vuex interface "userStore" like below
[code]
export const key: InjectionKey<State> = Symbol()

[2021-09-18 11:43] hotrungnhan commented on #556
i cant use vuex with typescript now , could you guy make a little example ?

[2021-09-18 11:45] danielroe commented on #556
@hotrungnhan Could you explain what you have tried and what isn't working for you? Ideally via a reproduction (https://template.nuxtjs.org).

[2021-09-18 12:09] hotrungnhan commented on #556
https://codesandbox.io/s/eloquent-mccarthy-jv6n9?file=/pages/index.vue
i write it on typescipt. just edit ~/store/index and pages/index.vue file

[2021-09-21 12:42] danielroe commented on #546
@flavionn Yes, it should be possible - even just running `yarn upgrade unplugin-vue2-script-setup` should do the trick.

[2021-09-21 12:56] danielroe commented on #553
@TrungRueta Would you provide a reproduction via https://template.nuxtjs.org ? 🙏

[2021-09-21 13:49] TrungRueta commented on #553
@danielroe HiDaniel! Thank for look my issue <3

I created online sandbox follow you suggest, but sandbox only makesure my demo working on runtime while issue come from mismatch typescript type checking lead to volar incorrect spell checking.

[sandbox](https://codesandbox.io/s/github/TrungRueta/nuxt-composition-api-bug/tree/main/)

so i deploy sandbox to a git , you can clone git, install use yar

[2021-09-22 02:36] ethnft opened #557 "help: how to use meta in script setup"

[2021-09-22 02:37] #557 closed

[2021-09-24 10:50] thisVioletHydra commented on #555
@danielroe any news ?

[2021-09-24 14:35] kirtan403 opened #558 "fix: Build failing with node 16"
**🐛 The bug**
create-nuxt-app with just adding composition api is not working. Giving the following error:

![image](https://user-images.githubusercontent.com/7900938/134691779-adcb1561-f705-4333-83b8-d94e02191de1.png)

Node version for the above screenshot: `v16.10.0`

When using with node `v14.5.0`, giving me the following error:
![image](https://user-images.githubusercontent.com/7900938/1346925

[2021-09-24 16:28] kirtan403 commented on #558
@danielroe Switched to Node v14.17.6 (Latest LTS). Still the same issue.

[2021-09-24 16:31] kirtan403 commented on #558
Giving the same error as in v16.

![image](https://user-images.githubusercontent.com/7900938/134709741-9a6b09cd-2f85-48ec-b70e-2b230c9e99c8.png)

[2021-09-24 22:05] danielroe commented on #558
@kirtan403 Would you confirm whether it occurs without `@nuxtjs/composition-api`? I would also suggest removing your `node_modules` and reinstalling - or perhaps even refreshing your lockfile entirely.

[2021-09-25 05:21] kirtan403 commented on #558
@danielroe It worked. Deleting `node_modules` and lock file helped. It worked on latest `v14` of the node. But on the `v16` it is not working. Should I keep it open for that or close the issue?

[2021-09-27 03:45] yinfoyuan opened #559 "useMeta().style Does not respond"
[code]
I need to get data to load the CSS file

[2021-09-27 14:16] joerideg opened #560 "fix: `unref()` a ref.value should give the original object (by reference)"
**🐛 The bug**
When one assigns an object to a Ref.value it is made reactive and the Ref will hold a Proxy object (not the original one). using unref or toRaw one is supposed to be able to retrieve the original object assigned. This is useful when retrieving some big class instance from a third party for example to be used in the template.
https://v3.vuejs.org/api/refs-api.html
https://v3.vuejs.org

[2021-09-27 20:13] andrzejewsky commented on #560
hey, @joerideg actually you can't really make them equals as `ssrRef` returns a proxied version of the given object. I know it can be possible with a regular `ref` but it works In a different way. A standard `ref` keeps just a state in the context of the caller without sharing anything between the browser and the server.

Using `ssrRef` gives you a way to create a reactive state as well as keeping

[2021-09-28 12:36] P4sca1 opened #562 "Broken types starting from version 0.25.1"
**🐛 The bug**
unreferenced refs to `Date` or `Timeout` objects are no longer assignable to `Date` and `Timeout`. The problem might exist for other types too.

[code]

**🛠️ To reproduce**
[code]

**ℹ️ Additional context**
Version 0.25.0 works fine. Every more recent version, starting from version 0.25.1, has this problem.

I found the following related issue: https://github.com/vuejs/vue-next/issue

[2021-09-28 16:41] joerideg commented on #560
Thanks for looking into this @andrzejewsky and the explanation! I think your PR will fix my particular problem.

[2021-10-01 10:25] posva commented on #555
The error comes from https://github.com/vuejs/composition-api/pull/821

[2021-10-04 09:30] andrzejewsky commented on #559
@yinfoyuan try with wrapping this by `defineComponent` and add `head` section:

[code]

that works for me, maybe `setup` attribute is not really supported so far in nuxt - needs to be checked : )

[2021-10-04 12:58] ahmadalfy commented on #539
How does that happen in the build artifact but not in the development mode?

[2021-10-04 13:12] Rigo-m commented on #539
It is probably because of how things get stitched together by webpack or something that happens within the storybook build routine. I don't see how this question helps btw.

[2021-10-04 13:56] ahmadalfy commented on #539
I am just asking because I am new to Nuxt and Vue and thought of investigating how that could be fixed. There is a lot of stuff that Nuxt hides and a lot of magic happening in the background. Think of it as an innocent question from someone who wants to help.

[2021-10-08 07:50] romatoom opened #563 "fix: vu3 vs nuxt composition api"
Doesn't work without .value in <template>

[2021-10-08 08:36] danielroe commented on #563
@romatoom Would you explain what the issue is?

[2021-10-08 15:20] florian-lefebvre opened #564 "help: `validate` equivalent"
I'm trying to achieve the `validate` function from Nuxt 2 with the composition api and since I didn't find `useValidate`, I would like to know what's the right replacement for it.

[2021-10-10 22:47] ahmadalfy commented on #539
OK I am digging into this and the problem seems to be even bigger. The current repository when cloned and you run the command `yarn test`, the produced static storybook artifact doesn't even work because of the modules added to nuxt.

If we remove the `@nuxtjs/color-mode` from the `buildModules` in `nuxt.config.js`, it works fine. So this behavior isn't exclusive to the composition API, it might b

[2021-10-11 09:14] #551 closed

[2021-10-12 21:04] Blemming opened #568 "help: withDefaults() Typescript script setup"
**📚 What are you trying to do? Please describe.**
Want to declare defaults to my component props in Typescript with the script setup as indicated [here](https://v3.vuejs.org/api/sfc-script-setup.html#typescript-only-features)

**🔍 What have you tried?**
[code]

says `withDefaults is not defined `

**ℹ️ Additional context**
I am running a nuxt 2 project with:
- nuxt-vite
- unplugin-auto-import
- un

[2021-10-13 12:10] danielroe commented on #562
@jankaderabek This is likely an issue with your TypeScript version, as indicated in the issue you linked: https://github.com/vuejs/vue-next/issues/4307#issuecomment-903093931. Could you try with a newer version?

[2021-10-19 08:44] viennv1709 opened #569 "fix: TypeError: (0 , _compositionApi.defineComponent) is not a function"
**🐛 The bug**
I'm running the tests with jest. And I said: TypeError: (0 , _compositionApi.defineComponent) is not a function

**🛠️ To reproduce**
![image](https://user-images.githubusercontent.com/5088270/137875021-a0f77434-fba0-4362-8741-31cec6f9e240.png)

**🌈 Expected behaviour**
Improve docs for testing

**ℹ️ Additional context**
nuxt: 2.15.7
@nuxtjs/composition-api: 0.29.3

[2021-10-20 18:48] ghost opened #572 "fix: Object(...) is not a function."
**🐛 The bug**
Unable to access the store inside the setup function.

**🛠️ To reproduce**
Steps to reproduce the behavior:

1. import { useStore } from '@nuxtjs/composition-api'
2. const store = useStore()
3. with the initialization of the store, the bug occur
4. See error

**🌈 Expected behaviour**
I want to access the store inside the setup function

**ℹ️ Additional context**
The same problem aris

[2021-10-20 19:30] #572 closed, assigned to danielroe

[2021-10-22 18:18] buffet-time opened #573 "fix: Non full compatibility with PNPM"
**🐛 The bug**
If you use PNPM without the `shamefully-hoist` flag in .npmrc then You get an error like
[code]
**🛠️ To reproduce**
Steps to reproduce the behavior:

1. Clone https://github.com/speedrun-website/speedrun.website
2. with pnpm installed already run `pnpm install`
3. run `pnpm build`
4. run `pnpm start`
5. observe below error

**🌈 Expected behaviour**
Using normal NPM there is no error

[2021-11-02 03:26] f3ltron opened #575 "fix: @vue/composition-api/dist/vue-composition-api.mjs not found"
**🐛 The bug**
What isn't working? Describe what the bug is.

**🛠️ To reproduce**
Steps to reproduce the behavior:

- Create a basic nuxt project with the last version
- follow basic install from https://composition-api.nuxtjs.org/getting-started/setup
- See error
<img width="962" alt="Screen Shot 2021-11-01 at 11 24 55 PM" src="https://user-images.githubusercontent.com/11556276/139782094-fb8494a1-

[2021-11-02 03:29] f3ltron commented on #575
nvm it's working with a simple project. Stop working after installing vuelidate

[2021-11-02 03:29] #575 closed

[2021-11-04 08:41] ariefsn opened #576 "help: Plugins Inject Unit Test"
**📚 What are you trying to do? Please describe.**
Hi,
how to mock injection?
injection was working fine, but its become undefined when running test.
Nuxt2 + Typescript + CompositionApi

[code]

[code]

[code]

**🔍 What have you tried?**
Have mocks in options, still not works.

**ℹ️ Additional context**
-

[2021-11-05 11:33] yassilah commented on #568
Hi! I've had the same issue, it seems if props are not assigned to a variable, `withDefaults` doesn't work. The workaround is to assign it. This should work:
[code]

[2021-11-05 13:05] danielroe commented on #569
@viennv1709 Would you try removing that line from your `jest.config.js`? It shouldn't be required, and it is certainly pointing at the wrong location.

[2021-11-05 13:06] #558 closed

[2021-11-05 13:07] danielroe commented on #558
If you're still experiencing this, let me know and I can reopen.

[2021-11-05 13:07] #562 closed

[2021-11-05 13:11] danielroe commented on #539
resolved in https://github.com/nuxt-community/composition-api/pull/578

[2021-11-05 13:11] #539 closed

[2021-11-05 13:12] danielroe commented on #560
closed in https://github.com/nuxt-community/composition-api/pull/561

[2021-11-05 13:12] #560 closed

[2021-11-05 13:13] #555 closed

[2021-11-05 13:13] #549 closed

[2021-11-08 17:52] fellz commented on #568
It doesn't help.
It seems that nuxt 2+ does not recognize new macros defineProps and withDefaults. Am i right ? @danielroe

[2021-11-09 12:14] zipme opened #580 "help: useAsync with provide/inject"
**📚 What are you trying to do? Please describe.**
I am trying to pass async data to layout from a page component.

**🔍 What have you tried?**
[code]
[code]

**ℹ️ Additional context**
The only way I can get this to work is by using `store`, which is what I try to avoid in this (small) project
e

[2021-11-10 10:36] Vi-jay opened #581 "feat: setup will be executed twice"
It will be executed once when the page is rendered from the server, and then again when the page is rendered for the client. Could it be similar to the fetch function? The client does not repeat the fetch function when the page is rendered on the server side.

[2021-11-10 11:00] danielroe commented on #581
That's how `setup()` is meant to work. Think of it like the `created()` lifecycle hook.

[2021-11-10 11:00] #581 closed

[2021-11-10 11:56] evanlegamer opened #582 "help: Start my nuxt project without Composition-API"
**📚 What are you trying to do? Please describe.**

Start my project with
[code]

**🔍 What have you tried?**

I added @nuxtjs/composition-api to my project through a basic
[code]

then i finaly do not want to use it so i did
[code]

and delete all occurence of this in my project.

but i get this error now

<img width="1079" alt="Capture d’écran 2021-11-10 125324" src="https://user-images.githubuser

[2021-11-10 12:37] danielroe commented on #582
It's possible you have another module which is installing this one, or of course you might still have a mention of it in your `nuxt.config` which has escaped your notice?

[2021-11-10 12:37] #582 closed

[2021-11-10 15:47] Vi-jay commented on #581
But we have already fetched the data once when rendering on the server side, and requesting it again on the client side is a meaningless consumption.  For example, the fetch method of nuxt will not perform an additional meaningless request on the client side.

[2021-11-10 15:58] danielroe commented on #581
@Vi-jay `setup()` is not for fetching data. Instead it is for calling helpers and exposing values to the template. You might find [these docs](https://v3.vuejs.org/guide/composition-api-introduction.html) helpful to read.

[2021-11-10 19:21] gisu commented on #568
I followed the example https://v3.vuejs.org/api/sfc-script-setup.html#typescript-only-features.

In Dev mode it works, but I have a problem with Typesscript. In the package the types for `defineProps` and `withDefaults` are not present. This will show up in the final build.

[2021-11-11 02:41] Vi-jay commented on #581
Sorry, I found my mistake. Specifically, instead of `setup` being executed twice, `useFetch` being executed twice,
For `setup`, it should be executed twice because it is a life cycle function similar to `created`. When the `useFetch` hook is executed, a fetch has been executed, but I will `useFetch`
The returned `fetch` function was executed again, resulting in two fetches.
Sorry for wasting your

[2021-11-16 11:25] FieldMarshallVague commented on #341
The docs mention TS integration a bit later, so if you're getting this error ( get it, but with $strapi instead of axios), then don't forget to include the types in your tsconfig.

    "types": [
      "@nuxtjs/strapi",
      ...etc.
    ]

[2021-11-16 21:07] aaronhuisinga opened #584 "fix: Vuex mutation error when using useFetch"
**🐛 The bug**
In some instances using Vuex with `useFetch` can result in the following error: `[vuex] do not mutate vuex store state outside mutation handlers.`.

It appears that having an object with a value set to either an array or an object is enough to trigger this error. Any simple data type or an object containing only simple data types (strings, numbers, etc) will not trigger it.

Example

[2021-11-16 21:13] aaronhuisinga commented on #584
@danielroe It appears this issue started with v0.28.0. My guess is it's due to #541.

[2021-11-29 17:28] valh1996 commented on #562
@danielroe I'm sorry, but I'm not sure I understand your answer knowing that the first comment says this:
[code]
**Why is this not possible with Nuxt? Using a more recent version of Typescript could cause problems in Nuxt?**

However, adding `"typescript": "4.5.2"` (latest version available atm) to the `dependencies` of the `package.json` fix de problem. Is it a viable solution or should I set a r

[2021-11-29 17:34] danielroe commented on #562
@valh1996 Yes, it should certainly be possible to use Nuxt with newer TypeScript versions - and yes, I think using a resolution is a reasonable solution. 👍

[2021-11-29 18:14] valh1996 commented on #562
Great, thanks for your quick response. But concretely, where would we have to fix this version to make it work out of the box? I imagine that other people have the same problem...

[2021-12-07 15:26] jonashe opened #588 "bug: Template Refs don't work in render functions"
**🐛 The bug**
Template Refs in Render Functions don't work with nuxt-composition-api

**🛠️ To reproduce**
Steps to reproduce the behavior:

1. Create a component with some markup returned by a render function
2. Assign a ref to one of the elements
1. I created a minimal working example: https://codesandbox.io/s/suspicious-easley-sxwmx?file=/pages/index.vue

**🌈 Expected behaviour**
In the preview

[2021-12-08 14:41] develth commented on #19
When using a vuex component that is computed and gets called in useFetch, there is an vuex Error:

`do not mutate vuex store state outside mutation handlers.`

Sad, that this can´t be ignored

[2021-12-11 14:39] ewilan-riviere opened #589 "fix: `<script setup>` Vue injection"
Environment:
- Visual Studio Code v1.63
- Extensions: Volar
- Windows 10

**🐛 The bug**
When I want to inject some methods to Vue instance, I use plugin:

`~/plugins/truncate.ts`
[code]

I load it into `nuxt.config.ts`

[code]

And it's works in any Vue template

[code]

**If I use `<script setup>` it's not works into Visual Studio Code because linter *Cannot find name $truncate* and it's works fo

[2021-12-11 17:52] ewilan-riviere commented on #589
Cause is TS version from new Visual Studio Code version, VS Code is 4.5.2, when I select Workspace version 4.2.4, everything is okay.

[2021-12-11 17:52] #589 closed

[2021-12-14 05:49] pleinon commented on #342
Sorry for necro but how does one set fetchOnServer-flag on `script setup`?

[2021-12-14 08:46] danielroe commented on #342
@pleinon You would have to add an additional script block for that option.

[code]

[2021-12-17 06:41] TianbinTobin opened #590 "bug: useAsync don't work in SSR"
**🐛 The bug**
useAsync in nuxt-composition-api don't work with SSR

**🛠️ To reproduce**
Steps to reproduce the behavior:

1. set babel in nuxt.config.ts
[code]
2. create a page component
[code]
3. See error
![image](https://user-images.githubusercontent.com/16282973/146500677-987f1ccd-1c58-4905-a5ae-5f1e6e65c0a6.png)

[2021-12-17 23:54] jnralava commented on #383
Hello,
It still does not work with [#530](https://github.com/nuxt-community/composition-api/issues/530)
When you refresh the page, the title is removed

[2021-12-19 13:52] ewilan-riviere opened #592 "help: dynamic component with `script setup`"
**📚 What are you trying to do? Please describe.**

I want to use `<component>` to create a dynamic component. When I use Vue 2 syntax, everything works but when I use `script setup` syntax, I have an error `component is not defined`.

**🔍 What have you tried?**

With Vue 2 syntax, it works:

[code]

With `script setup` syntax, I have an error:

[code]

**ℹ️ Additional context**

![image](https://u

[2021-12-21 17:42] dcrabbeYapily opened #593 "[Vue warn]: The setup binding property ... is already declared."
**🐛 The bug**
When setting computed values or data for wrapper setup we get this error
```[Vue warn]: The setup binding property "institutionsListFilter" is already declared.```

However setting the data this way is the only way we can get the component to render using the data.

We are using this setup on several components with the data set this way and we get the same exact error.

**🛠️ To repr

[2021-12-23 04:13] gkweb commented on #504
For anyone else reading this from google and wondering how to solve this with the composition API.

You can use multiple script tags in SFC's.

[code]

[2021-12-23 18:39] jnralava opened #594 "fix: using useFetch page header HTTP status code doesn't return 404 but always 200"
**🐛 The bug**
when i try to access a bad id, the api returns a 404 error, but the page HTTP status code is still 200.
[code]

**🛠️ To reproduce**
Steps to reproduce the behavior:

1. Go to '[useFetch official doc](https://composition-api.nuxtjs.org/examples/useFetch)'
2. Run the project example
3. Click on '[404 post](https://4wnkz.sse.codesandbox.io/posts/404)'
4. See console error

[2021-12-23 18:43] danielroe commented on #594
This is how the `fetch()` hook works in Nuxt 2, and is due to a limitation of `serverPrefetch` which is being used under the hood. You'll need to handle the error yourself by inspecting the error property that is returned from `useFetch`. Any redirect needs to be done on client side.

[2021-12-23 18:43] #594 closed

[2021-12-23 19:54] adr1enbe4udou1n commented on #592
Seems like 'component` is a reserved key word on template setup syntax ?
It works with different variable name :

[code]

Note : idk if it's only me, but I was forced to add `import { ref } from '@nuxtjs/composition-api'`...
Note 2 : no need of this ugly import after migrate to the new Nuxt Bridge (beta) !
Discussion : #585
See (pretty heavy) migration guide :  https://v3.nuxtjs.org/getting-starte

[2021-12-23 19:57] #592 closed

[2021-12-26 08:42] ewilan-riviere commented on #592
For auto import like `ref`, I use <https://github.com/antfu/unplugin-auto-import>, it's really amazing ;)

It's work perfectly, thanks! I didn't know `component` is reserved I should have checked ^^'
I will migrate soon to Bridge, need to migrate my components to script setup before that :D

[2021-12-27 16:35] adr1enbe4udou1n commented on #592
Very thx @ewilan-riviere, didn't known that this @antfu plugin worked in Nuxt too !
It seems a far cleaner solution than Nuxt Bridge, at least for now 😊

[2022-01-09 08:24] arsy29 opened #596 "help: Wait for promise to resolve before client side rendering."
**📚 What are you trying to do? Please describe.**
Is there a way to wait for API calls or any promise to resolve before loading the page so that it would include details from the API.

**🔍 What have you tried?**
I tried using useAsync, useFetch, onServerPrefetch but have a problem with redirecting and reloading pages where data is available in some cases, and some render the page blank and just wa

[2022-01-10 12:53] danielroe commented on #564
Unforttunately this isn't possible with the way that the Nuxt 2 `validate()` hook works.

[2022-01-10 12:53] #564 closed

[2022-01-10 15:15] danielroe commented on #596
At the moment, we can't block page navigation on client-side using the composition API + Nuxt 2.

On server-side, `useFetch` or `onServerPrefetch` should work to block page load on the initial SSR. Perhaps you could share your code if you're finding it's not working for you.

[2022-01-18 08:19] pleinon opened #598 "fix: ssrRef crashes with nested frozen object"
**🐛 The bug**
I am using Apollo Client which returns response data as frozen (Object.freeze()) on development mode. Looks like this causes ssrRef.value mutation to crash when frozen data has nested objects:

```'get' on proxy: property 'nested' is a read-only and non-configurable data property on the proxy target but the proxy did not return its actual value (expected '#<Object>' but got '[object

[2022-01-25 13:27] thekonz opened #600 "fix: useFetch in renderless component leads to error "Cannot convert undefined or null to object""
**🐛 The bug**
I have a renderless component that uses `useFetch`. In `ssr: true` mode, it crashes the app with this error:
`Cannot convert undefined or null to object` in `serverPrefetch`

[code]

The issue is that `vm.__composition_api_state__.rawBindings` is not set for a renderless component.

**🛠️ To reproduce**
Steps to reproduce the behavior:

1. Download the repo https://github.com/thekonz/

[2022-01-25 15:11] thekonz commented on #600
I wrote the same with bridge in this branch https://github.com/thekonz/reproduce-bug-nuxt-composition-use-fetch/tree/bridge
It works, but using bridge would be quite a bit of work in our project.

[2022-01-27 10:49] Paalt opened #601 "fix:"
I am using Pinia for state management but there seem to be a compatibility issue with composition-api. Specifically the useFetch function.

The error happens when I am using useFetch in my setup function and return an imported Pinia store to the template.
This will result in:

[code]

Steps to reproduce the behavior:
@pinia/nuxt": "0.1.8",
"@nuxtjs/composition-api": "0.31.0",
"nuxt": "2.15.8",

In

[2022-02-07 18:44] maninak commented on #600
@Chapaev17 that's weird that you only get this with JSX, because I came to find this ticket after getting this error, even though _I'm using render functions_ a.k.a. `h()`.

For reference here's my code

[code]

[2022-02-09 01:55] wesley3295 commented on #129
Currently using Nuxt 2 with composition/api. I am importing all the composition api functions into the nuxt.config.js file. When creating a jest.setup.js file I create a new Nuxt instance to use in jest adding the nuxtConfig.default. I have this setup file to run on globalSetup inside my jest.config.js file. I get an error saying the composition api functions inside the
nuxt.config file cannot be

[2022-02-09 20:04] Dell-it commented on #584
@aaronhuisinga Hello, I met with the same problem, did you manage to solve/work around it somehow?

[2022-02-09 20:09] aaronhuisinga commented on #584
For the time being I've just locked the package at v0.27.0. That has all of the functionality I need anyway and works as expected.

You could also start the upgrade to Nuxt 3 using Nuxt Bridge. There is quite a bit of work to do if you've been using this package, and I'm not sure how stable it is, so proceed at your own risk there. I started the process for one of the Nuxt apps I maintain, but dec

[2022-02-10 22:33] wesley-spencer commented on #248
@danielroe can you please explain to me what I am doing wrong?
`import component from "@/components/caseAssignment/component.vue"
import { shallowMount } from "@vue/test-utils"

test("xxx", () => {
  const wrapper = shallowMount(component, {
    mocks: {
      $nuxt: {
        context: {
          $axios: {
            post: () => new Promise.resolve({ data: null }),
          },
        },

[2022-02-10 22:35] wesley-spencer commented on #248
@danielroe Can you please explain what I am doing wrong here?
`import component from "@/components/caseAssignment/component.vue"
import { shallowMount } from "@vue/test-utils"

test("xxx", () => {
  const wrapper = shallowMount(component, {
    mocks: {
      $nuxt: {
        context: {
          $axios: {
            post: () => new Promise.resolve({ data: null }),
          },
        },
      }

[2022-02-14 08:48] ibrahimBeladi commented on #129
@danielroe
Any updates on this?
This is breaking our tests and providing us with a bad developer experience.

[2022-02-21 10:32] QuentinLeCaignec commented on #19
I'm getting this same warning but it's not even a computed variable.

`const page: any = reactive({
      content: null,
    })`

later :
`const { fetch } = useFetch(async () => {
      const pageData = await (fetch stuff...)
      if (pageData) {
         page.content = pageData
      }
    })`

Is there any way to avoid this weird warning?

[2022-02-22 11:58] zcqno1 opened #609 "fix: template variable was not injected....newest unplugin-vue2-script-setup required"
**🐛 The bug**
What isn't working? Describe what the bug is.

template with wrapped `{{ }}` was not able to be recognized by older version of unplugin-vue2-script-setup.
[code]

![image](https://user-images.githubusercontent.com/11766057/155126138-430c4f52-cf17-4bb7-b03a-6eadf66b8097.png)

variables between wrapped `{{ }}` are not injected to the vm.

After upgrading unplugin-vue2-script-setup to t

[2022-02-22 12:41] danielroe commented on #609
I've released @nuxtjs/composition-api@0.32.0 - let me know if this solves the issue for you.

[2022-02-22 14:06] zcqno1 commented on #609
New release solves this issue !!! :

Amazing，it's really so quick to get your response.⚡
Thanks for your job. 👍  @danielroe

btw, a reminder, `yarn dev` should be run to restart the nuxt app if your app was kept in hmr mode or  just hold on to upgrade the @nuxtjs/composition-api.

[2022-02-22 14:06] #609 closed

[2022-02-24 04:15] dncdrn commented on #190
I have the same issue, but @treebee solution unfortunately doesn't work for me. I'm using Nuxt 2.14.3

Here's what my package.json looks like
` "dependencies": {
    "@nuxtjs/axios": "^5.4.1",
    "downloadjs": "^1.4.7",
    "echarts": "^5.3.0",
    "lodash.isequal": "^4.5.0",
    "nuxt": "^2.14.3",
    "nuxt-i18n": "^6.1.3",
    "vue-cookies": "^1.5.13",
    "vue-echarts": "^6.0.2",
    "vuedashb

[2022-03-02 09:13] Nealll68 opened #614 "help: Does @nuxtjs/composition-api work on IE11 ?"
Hello,

**📚 What are you trying to do? Please describe.**
I would like to make @nuxtjs/composition-api work on IE11 but in the console i received some script errors :
![image](https://user-images.githubusercontent.com/19308795/156330000-457612a5-1059-4a21-99dc-c4a0f409998a.png)

It say that a const must be initialized and a parenthesis is missing

**🔍 What have you tried?**
Tried to transpile pack

[2022-03-02 13:37] danielroe commented on #614
Try adding `defu` and `ufo` to your `build.transpile` array. Those are the only runtime dependencies of this module, and the module itself is already transpiled. Failing that, check the code referenced in your above screenshot and see if you can identify what module it comes from.

[2022-03-02 13:37] #614 closed

[2022-03-02 15:33] Nealll68 commented on #614
Adding `defu` and `ufo` in transpile doesn't resolve the problem but when I search in the console I see that it come from defu for the missing parenthesis :
![image](https://user-images.githubusercontent.com/19308795/156393095-75488dfb-422a-4f32-889c-40b95ffebec2.png)

And for the "const must be initialized" it come from this code :
![image](https://user-images.githubusercontent.com/19308795/15639

[2022-03-03 03:19] shldhee opened #615 "fix: Cannot read property 'find' of undefined"
**🐛 The bug**
I installed Nuxt Composition API without problems.
The build also works fine.
When executed, the error message `Cannot read property 'find' of undefined` is displayed.

**🛠️ To reproduce**
Steps to reproduce the behavior:

1. `yarn dev`
2. Connect to `http://localhost:3000/`
3. See error `Cannot read property 'find' of undefined`

![image](https://user-images.githubusercontent.com/20

[2022-03-03 03:19] shldhee commented on #615
nuxt version
<img width="350" alt="image" src="https://user-images.githubusercontent.com/20432185/156489733-9bf5a384-e03f-46bf-9754-75018b990c10.png">

[2022-03-03 06:03] shldhee commented on #615
I found a problem.
![image](https://user-images.githubusercontent.com/20432185/156505962-22c86d2a-4e9b-4a45-8259-defb83dc2db7.png)

[2022-03-04 01:27] #615 closed

[2022-03-04 14:10] Nealll68 commented on #614
Hi,

for information I resolved all errors by forcing defu & ufo version in my package.json with yarn :
[code]
Actually, I don't have side effects by downgrading theses packages

[2022-03-12 19:17] P4sca1 commented on #601
A workaround is to not access the store in the template directly, but to use computed properties.

[2022-03-14 11:56] adrianwix commented on #584
I faced the same issue and it was driving me insane. This needs an urgent fix

[2022-03-15 22:19] P4sca1 opened #618 "useFetch does not work with nested _slug pages"
**🐛 The bug**
When you have the following directory structure:
* `/_slug.vue`
* `/_slug/page.vue`

and `useFetch` in both pages, it will not work correctly.

**🛠️ To reproduce**

1. Visit https://codesandbox.io/s/goofy-murdock-obbijt?file=/pages/_id/test.vue
2. Click on 'To Reproduction'. You should see a list of todos.
3. Reload the browser. You should see the same list of todos for a short time

[2022-03-15 22:51] P4sca1 commented on #601
@danielroe See https://codesandbox.io/s/amazing-visvesvaraya-n6etwp?file=/pages/index.vue for a reproduction.

[2022-03-15 22:57] danielroe commented on #618
This is an issue not with the composition API module but with how fetch is implemented in Nuxt 2. In short, it adds a fetch key to the rendered HTML element to match it up to the payload. But in your case, the element for each of these pages is the same, so it breaks it. Add a wrapper element and you'll find it will work.

[2022-03-15 22:57] #618 closed

[2022-03-15 22:58] danielroe commented on #601
Yes, this is an unavoidable consequence of the Nuxt 2 fetch implementation (which entails stringifying the entire component state). I'd recommend avoiding `useFetch` and using `useAsync` instead for more granular control of what is added to the Nuxt payload...

[2022-03-15 23:33] P4sca1 commented on #618
Thank you very much for the hint!
Adding a wrapping `<div>` around `<nuxt-child />` indeed fixed the issue.

[2022-03-18 05:47] yulafezmesi opened #619 "help: How can I import runtime config without using `useContext`"
**📚 What are you trying to do? Please describe.**

Trying to import public config file without using useContext hook.

[code]

**🔍 What have you tried?**

According to Nuxt3 official document, I've seen [this](https://v3.nuxtjs.org/docs/usage/runtime-config/#api-routes) kind of usage that is don't have to use useContext hook to import public config file. Is there any way to do that in composition

[2022-03-18 07:35] danielroe commented on #619
I'd highly recommend migrating to Nuxt Bridge and you'll be able to use `useRuntimeConfig()`.

[2022-03-18 07:43] yulafezmesi commented on #619
@danielroe  unfortunately,  It's not possible in near future :) Is there any tricky way to handle it?

[2022-03-18 07:54] danielroe commented on #619
No. The example you reference is using a feature of Nuxt Nitro, which is only available with Bridge.

[2022-03-18 14:28] avarvouzou commented on #190
any updates? I have exactly the same probelm @dncdrn @jankaderabek

[2022-03-18 14:38] avarvouzou opened #620 "Cant install composition api in Nuxt 2"
**🐛 The bug**
I have a Nuxt 2.15.8 app and I would like to use nuxt/composition-api, but when i'm trying to build the app, it failed on the following error:

![image](https://user-images.githubusercontent.com/76907288/159023688-7a430a42-f0a8-4f94-a245-a339fa612221.png)
**🛠️ To reproduce**
Steps to reproduce the behavior:
It was after i followed all the steps here to install composition api ---> ht

[2022-03-30 11:16] rozbehsharahitxb opened #623 "help: Is there no asyncData equivalent?"
**📚 What are you trying to do? Please describe.**
I am trying to find an equivalent for `asyncData` in `@nuxt/composition-api`, which prevents the template being rendered before being resolved.

**🔍 What have you tried?**
I read into the documentation, which is very short on this topic and specially this line has caught my attention:

`However, if the call hasn't been carried out on SSR ......, it

[2022-03-30 12:11] RozbehSharahi commented on #623
In code this means:

---

This will throw an exception since `foo` is initially `null`
[code]
This will not throw an exception since the template is not even rendered before `asyncData` is resolved:
[code]
Please keep in mind, that this issue only exists, if navigating to the page via nuxt-link, causing client-side `asyncData` or `useAsync` call.

[2022-03-30 12:16] danielroe commented on #623
I'm afraid it's not possible to implement client-side navigation blocking purely within the composition API in Vue 2, as the navigation has already taken place before the `setup()` function runs.

[2022-03-30 15:33] stigvanbrabant commented on #292
@danielroe i'm still experiencing this issue, is there a specific configuration that needs to be set? i've alread set the target to 'static'. And i am using version ^2.15.8 of nuxt.

[2022-03-30 15:39] danielroe commented on #292
Would you create a new issue with a reproduction? 🙏

[2022-03-30 15:53] stigvanbrabant commented on #292
Yes i will try to do that tomorrow, i'm actually using the storyblok nuxt module so the useFetch resides inside there.

[2022-04-03 08:01] ibrahimBeladi commented on #593
@danielroe
Any progress? Any tips or suggestions?

[2022-04-04 13:24] adrianwix commented on #584
@danielroe Any update on it? Not being able to update the store inside useFetch is messing up all the business logic in my app. If I use onMounted I get a bunch of server-side errors in other components. If I use composables I have to fetch the same entity every single time.

[2022-04-04 15:33] danielroe commented on #584
You should not manipulate the store within `useFetch`. Instead use `useAsync`, which does not have the same issues with stringifying the entire component state.

[2022-04-13 14:08] pcm0nk opened #624 "help: Installing Composition-api on nuxt 2.15.8 throws Error"
**📚 What are you trying to do? Please describe.**
Installing composition-api on a nuxt version 2.15.8 for vue-echart
I have added @nuxtjs/composition-api/module' into buildModules

**🔍 What have you tried?**
removing the composition-api from buildModules will stop the error and return of a successfull build but the application will show a blank page untill I comment the echart plugin too

**ℹ️ Add

[2022-04-21 15:36] dygaomarques commented on #601
@Paalt I have used the `onServerPrefetch` hook, and it's work for me.

[2022-05-04 02:52] ttonyh opened #633 "fix: fetchKey not being set properly affecting useFetch"
**🐛 The bug**
useFetch is not able to handle multiple requests on a single load, due a fetchKey issue. fetchKey is not being set properly when the module runs. The composition-api module is being added to buildModules like the docs state. This problem seems to go away when I move the module to "modules" (but causes other problems).

Here is the line of code that prevents the key to set:
[code]
Whe

[2022-05-04 09:10] danielroe commented on #633
Would you provide a reproduction? 🙏

[2022-05-05 15:17] pmrotule commented on #598
We're experiencing the same issue and the only workaround we found was to deep-clone all results coming from ApolloClient which is pretty bad for performance. Would be great to have a proper fix 🙏

[2022-05-08 09:48] abdulhadi-lababidi opened #634 "feat: add definePageMeta to use it with nuxt 2 and @nuxtjs/composition-api package"
**🆒 Your use case**
provide a way to define meta, layout, middleware ..etc using @nuxtjs/composition-api package

**🆕 The solution you'd like**
something like [definePageMeta](https://v3.nuxtjs.org/guide/directory-structure/pages/#page-metadata) in nuxt 3

[2022-05-09 01:57] dncdrn commented on #620
Hi @danielroe @avarvouzou I have the same error after installing the composition api for vue echarts. I followed the steps from this docu https://github.com/ecomfe/vue-echarts

[2022-05-20 05:30] DEV-ONI opened #635 "fix: calling `context.error()` inside useFetch causes a vnode mismatch?"
**🐛 The bug**
Calling `context.error()` inside useFetch shows the error page but causes a vnode mismatch.
Am I doing something wrong or missing something?

![image](https://user-images.githubusercontent.com/52248548/169457081-a087b40d-79bb-4847-bf00-96e8261d397f.png)

**🛠️ To reproduce**
Call `context.error()` inside `useFetch()`;

**ℹ️ Additional context**

Example code:

[code]

[2022-05-20 06:04] danielroe commented on #635
The fetch hook in Nuxt 2 is not compatible with context.error and you should instead use the error properly on the fetch state to handle any errors within the component using fetch.

[2022-05-20 06:04] #635 closed

[2022-05-23 02:05] og-neth commented on #580
@zipme when you inject in your component, is `setData` undefined or is it properly set? I am having an issue where when I inject from my layout.vue into a footer component, I am getting undefined when I inject... using vue 2 with composition-api in nuxt 2 project.

[2022-06-06 04:59] josuemartinezz opened #637 "fix: useAsync is not running correctly"
**🐛 The bug**
When `useAsync` is used in our code, full resolution is expected on the server side, regardless of whether the page loaded where `useAsync` is used or when it is navigated. But when navigating it breaks completely, that is, the endpoint is loaded when the user navigates to the view and does not wait for the resolution of the promise, this behavior makes it impossible to find objects

[2022-06-08 11:11] danielroe commented on #637
I'm afraid this is a limitation of Vue 2, which is what this module is using. (It's not possible to block client-side navigation with a composable.)

[2022-06-08 11:11] #637 closed

[2022-06-11 09:17] MateiNenciu commented on #493
It runs twice every time, even some simple code like:
`useAsync(async() => {
      await new Promise(resolve => setTimeout(resolve, 7000))
      console.log('useAsync fired')
      return true
 })` gets executed twice. We are missing something? You said in other issue that we should use this method instead of useFetch if we need to modify store on initial load. But useAsync execute twice so this i

[2022-06-15 00:33] sinasita commented on #521
@danielroe and @claranceliberi I have the same issue. Did you manage to solve it?

[code]
How to make the route.value.query reactive? I can see the url changing, but the watcher never gets called, not when wrapped in a computed and not when using it like this

`    watch(useRoute(), (after, before) => {`

nor like that

`    watch(route.query, (after, before) => {`
(that's the worst, it causes:
In

[2022-06-15 12:20] danielroe commented on #521
Have you tried using `deep`? (If you prepare a reproduction using https://template.nuxtjs.org/ I'd be happy to take a look.)

[2022-06-19 21:05] danielroe commented on #493
I can't reproduce this @MateiNenciu (see https://codesandbox.io/s/elastic-leftpad-f77ms3?file=/pages/index.vue). My best guess is that you have some kind of hydration error (or other error) that is triggering this.

I'm closing this but feel free to provide a reproduction and I'll take a look.

[2022-06-19 21:05] #493 closed

[2022-06-19 21:06] danielroe commented on #580
`useAsync` should not have side effects. Also, passing data from a component up to a layout will always lead to hydration issues if you are doing server-side rendering.

[2022-06-19 21:06] #580 closed

[2022-06-19 21:08] danielroe commented on #634
The implementation details would be fairly tricky so I'm not inclined to implement this at the moment or in this library. However, with Vue 2.7 bringing composition API to Vue 2, there may be an opportunity to enhance Nuxt Bridge or Nuxt 2 to have this behaviour.

[2022-06-19 21:09] #596 closed

[2022-06-24 08:15] nayils opened #639 "fix: computed value is readonly."
Hello. This code throws an error "fix: computed value is readonly".

[code]

How can I get around this warning?

[2022-06-24 09:20] danielroe commented on #639
Let's track in https://github.com/nuxt-community/composition-api/issues/19.

[2022-06-24 09:20] #639 closed

[2022-07-02 03:38] Schetnan opened #643 "using useContext() causes error "Error: This must be called within a setup function.""
Operating system:  OS/X
Node-version:  14.18.2
npm version:  6.14.15

Using useContext in page setup function causes:

"Error: This must be called within a setup function."

1). Create new project via:  npx create-nuxt-app <project-name>
2). npm install @nuxtjs/composition-api --save
3). Add to buildModules in nuxt.config.js
{
  buildModules: [
    '@nuxtjs/composition-api/module'
  ]
}

4.  Updat

[2022-07-04 14:08] ThinkingAbout opened #644 "Can't install @nuxtjs/composition-api anymore"
I can't install the composition api package anymore on fresh nuxt projects.

I've just created a new blank nuxt project with `npm init nuxt-app my-project-name` and and immediately after I installed `@nuxtjs/composition-api` using npm and following the steps in the [docs](https://composition-api.nuxtjs.org/getting-started/setup).

I get the following error:

[code]

![Schermata 2022-07-04 alle 16

[2022-07-04 15:01] ThinkingAbout commented on #644
It looks like that the problem also occurs in previous projects by deleting the package-lock file and running npm install again.
Thanks,
Matteo

[2022-07-05 15:34] vahid-bagh3ri commented on #644
I have The Same Problem too :(

[2022-07-05 15:44] danielroe commented on #644
This is an issue with your specific package manager and lockfile situation, and on every Vue upgrade there are often mismatches which people need to resolve by updating their lockfiles and/or explicitly installing the right version of Vue packages. But it is not an issue with `@nuxtjs/composition-api`. In fact, this library has no explicit vue or vue-server-renderer dependencies.

Here's an exampl

[2022-07-05 21:57] danielroe commented on #620
Would you provide a reproduction please?

[2022-07-05 21:57] #633 closed

[2022-07-05 22:02] #569 closed

[2022-07-06 10:35] ThinkingAbout commented on #644
@bobbyadamski with 2.6.14 I was able to run the project again.
@danielroe I tried with 2.7 but same error occured, am I doing something wrong?

[https://stackblitz.com/edit/github-4nyzv3-zdknmq?file=package.json](https://stackblitz.com/edit/github-4nyzv3-zdknmq?file=package.json)

Thanks

[2022-07-07 04:42] Jozaguts commented on #644
I had the same problem, and I was "fix it" with:
- removing "^" in these 2 packages:
    - "vue-server-renderer": "2.6.14",
     - "vue-template-compiler": "2.6.14"

Delete
-  package-lock.json
-  node_modules

run npm install

and now I have this message

, by following the steps at https://v3.nuxtjs.org/getting-started/bridge. Feedback welcome at https://github.com/nuxt-community/composition-api

[2022-07-07 08:38] ThinkingAbout commented on #644
@Jozaguts thanks but same error :(
@bobbyadamski solution is still the only one that works for me.

[2022-07-07 16:46] Marahin commented on #644
I have the exact same issue as @ThinkingAbout, however, I'm unable to force the dependencies and their versions lower.

[2022-07-07 22:38] kilobyte2007 commented on #554
This is an issue for me, any progress here?

[2022-07-08 11:14] #19 closed

[2022-07-08 11:14] #593 closed

[2022-07-08 11:14] #643 closed

[2022-07-08 11:14] #644 closed

[2022-07-11 07:12] hogivano commented on #624
me too

[2022-07-11 09:30] danielroe commented on #624
Would you provide a reproduction please?

[2022-07-11 10:58] nestle49 opened #647 "fix: render function overloading"
**🐛 The bug**
render function works with 2 params h(type, data) or h(type, children), but doesn't work with 3 params: h('div', {}, children)

**🛠️ To reproduce**
Steps to reproduce the behavior:

1. use h() with 3 params
2. Children not render

[2022-07-11 11:07] nestle49 commented on #647
It's work, if i import h() from Vue:

import Vue, { CreateElement, VNode } from 'vue';
h('div', { style: containerStyle }, columns)

but if i use h() from nuxt/composition-api, get this problem => I think the problem of nuxt/composition-api

Also, have the same bug
 https://github.com/nuxt-community/composition-api/issues/588

 Sorry for my English

[2022-07-11 11:27] danielroe commented on #647
In that case, would you provide a reproduction, please? 🙏

[2022-07-11 11:43] danielroe commented on #647
The latest version of nuxt/composition-api no longer includes `@vue/composition-api`. Would you check with the latest version to see if this is still an issue?

[2022-07-11 11:43] danielroe commented on #588
The latest version of nuxt/composition-api directly exports from render behaviour from vue itself. Would you check with the latest version to see if this is still an issue? 🙏

[2022-07-11 14:05] nestle49 commented on #647
Yes, have problem with "@nuxtjs/composition-api": "^0.33.0"

[2022-07-12 22:21] Schetnan commented on #643
@danielroe  When will this fix be available in a general 2.5.x release?

[2022-07-12 22:23] danielroe commented on #643
What do you mean?

[2022-07-13 09:28] iamandrewluca opened #651 "help: useMeta is not working in SSG mode"
**📚 What are you trying to do? Please describe.**

I'm having a website that is SSG rendered, and I have a page (`_slug.vue`) that uses `useMeta` inside `setup` and sets meta based on the slug, but it seems the final HTML does not contain that meta 🤔

**🔍 What have you tried?**

I tried to create a empty Nuxt + Composition API project with this page. I removed title from `nuxt.config` to see if it

[2022-07-13 14:27] Schetnan commented on #643
@danielroe  We have lots of projects that now break if we delete our package-lock.json and try to rebuild.  ( Due to this issue ).  I need to know what versions to point our package.json to so that we will pick up the fix - that closed this issue.

[2022-07-13 14:35] danielroe commented on #643
This fix is available in "^0.33.0".

[2022-07-13 14:50] danielroe commented on #643
I'm not really sure what your problem is. Maybe open a new issue with a minimal reproduction?

[2022-07-13 14:53] Schetnan commented on #643
@danielroe I think my origin report should work.  Just going to the Nuxt 2 site (docs ) and create a new project as I have highlighted above, installing the @nuxtjs/composition-api, then adding the following in the setup.  This problem is in existing nuxt 2 projects - not Nuxt 3 or the bridge.

[code]

[2022-07-13 14:58] danielroe commented on #643
It works fine: https://stackblitz.com/edit/github-k8mxkn

[2022-07-13 15:08] xicri commented on #643
@danielroe I have experienced this issue and it is properly fixed on my end too.
@Schetnan Are you using Vue 2.5.x and want to fix this issue without updating to Vue 2.7?

[2022-07-14 11:17] angularBBB opened #652 "fix: useAsync runing server and client at the same time"
**🐛 The bug**
What isn't working? Describe what the bug is.

**🛠️ To reproduce**
Steps to reproduce the behavior:
<img width="540" alt="image" src="https://user-images.githubusercontent.com/26304597/178970127-45a7f79e-64f6-47b5-8ef9-48fd3b27cc37.png">

<img width="500" alt="image" src="https://user-images.githubusercontent.com/26304597/178970225-a33c8da7-e43b-40cd-ae76-ea0d92988d3e.png">

I use vu

[2022-07-14 16:02] angularBBB opened #653 "help: @nuxtjs/composition-api didn't support in Internet Explorer11"
When I use this buildModules(@nuxtjs/composition-api ) in my Nuxtjs project, my project can running in any modern browser, but didn't running in Internet Explorer11.

[2022-07-15 12:14] Schetnan commented on #643
@danielroe  @xicri
I recreated a clean project with` npx create-nuxt-app <project-name>`.    I then added the latest version of the nuxt composition api and the project worked.

I was able to get one of my other projects working by copying the dependencies from the fresh project over to the older one.

Thanks for sticking with me.

[2022-07-17 16:48] vahid-bagh3ri opened #654 "help: I don't access root in setup function anymore"
**What I want to do**
I want to emit an event use eventBus

**🔍 What I've Tried**
I asked for help in discord channel but could get the answer.

[code]

[2022-07-19 16:07] danielroe commented on #654
This stems from changes in Vue itself. Feel free to raise an issue on

[2022-07-19 16:09] #654 closed

[2022-07-19 16:17] danielroe commented on #653
Have you tried adding it to `build.transpile`?

[2022-07-20 07:10] angularBBB commented on #653
Yes, I tried. But didn't normal work

[2022-07-20 08:28] danielroe commented on #653
Would you provide a minimal reproduction that you have confirmed doesn't work on IE11? 🙏

[2022-07-20 16:05] nestle49 opened #656 "getCurrentInstance returned null"
**🐛 The bug**
getCurrentInstance returned null inside setup function
I can't use refresh key here, because it refresh all items
How to use forceUpdate inside setup?

**🛠️ To reproduce**
Steps to reproduce the behavior:

[code]

[2022-07-20 16:21] #656 closed, assigned to danielroe

[2022-07-21 10:44] nestle49 opened #657 "help: useFetch works on client by default"
I migrate from fetch to useFetch of composition-api, have a problem:
useFetch works on client (from Nuxt docs, by default it's must be on server)

Fragment:
[code]

And the same code with useFetch

[code]
Also I've tried set fetchOnServer false, but it don't work

[code]

Can u help me, please? What's wrong?

[2022-07-21 10:48] danielroe commented on #657
Would you provide a minimal reproduction? 🙏

[2022-07-21 12:15] nestle49 commented on #657
https://codesandbox.io/s/objective-surf-qd8p62?file=/pages/index.vue

1) Refresh index page, and get posts on server with fetch
2) Move on "Client" page, refresh page and useFetch from composition-api don't work, array of posts is empty

[2022-07-21 12:51] danielroe commented on #657
Two things:

1. You will not be able to see the posts within your setup function as `async setup` is not supported in Vue 2.
2. You need to call useFetch on both sides. It won't repeat the fetch on client side, but it will fill out `posts.value` for you.

[2022-07-21 12:51] #657 closed

[2022-07-27 08:53] angularBBB commented on #653
Steps to reproduce
1.Clone/Fork this reproduction repo git clone https://github.com/angularBBB/nuxt-template.git
2.cd nuxt-template
3.npm i
4.npm run dev

[2022-07-27 10:29] acibilous commented on #651
any updates?

[2022-07-28 07:10] gumacs92 opened #659 "fix: functions passed into beforeNuxtRender are not getting called"
**🐛 The bug**
I think the beforeNuxtRender is not getting called at the right place when it is placed in the setup function.

**🛠️ To reproduce**
I'm using this code:

[code]
And in the generated server.js I've place two console.log statment like this:
[code]

After this, the printed server output is the following:
[code]

**🌈 Expected behaviour**
The function which had been passed into beforeNuxt

[2022-07-31 13:33] kouwasi opened #661 "fix: When variable haves circular property, fails to deep copy in serverPrefetch."
**🐛 The bug**
When variable haves circular property, fails to deep copy in `serverPrefetch`.
Only in setup syntax sugar directive basically.

If return a circular variable intentionally, it may appear same issue.
Like this
[code]

I didn't test it yet, It's just my prediction.

**🛠️ To reproduce**
See my repository
https://github.com/kouwasi/nuxt-composition-circular-reproduce

**🌈 Expected behavi

[2022-08-01 07:59] rchl opened #662 "Node engine"
Was just wondering whether forcing latest minor/patch node version in:

https://github.com/nuxt-community/composition-api/blob/7c6bb1c061d75f3e3ea8d1a49d925f3f9f2114ff/package.json#L113

is a good idea in general.

If the older 14.* version has no obvious compatibility issues then limiting it to the latest seems unnecessary and problematic as it forces users of the package to use the latest node.

[2022-08-01 10:59] danielroe commented on #661
The aim of `useFetch` is to match the Nuxt 2 `fetch` hook behaviour, and I don't believe circular variable references are supported there.

[2022-08-01 11:17] kouwasi commented on #661
@danielroe
Therefore, Can not use a circular variable in setup syntax sugar right?

[2022-08-01 12:11] danielroe commented on #662
You are right. This should be `>=14.13.0` for subpath import support.

[2022-08-01 12:16] #662 closed

[2022-08-01 13:18] #647 closed

[2022-08-04 00:57] Verdicts-ye opened #666 "The requested module 'vue' does not provide an export named 'set'"
**🐛 The bug**
 The requested module 'vue' does not provide an export named 'set'

#  nuxt3  nuxt.config.ts
export default defineNuxtConfig({
  modules: [
    "@nuxtjs/composition-api",
    '@pinia/nuxt',
  ],
})

When module exists @nuxtjs/composition-api , this will cause problems

package.json

 "devDependencies": {
    "nuxt": "3.0.0-rc.6"
  },
  "dependencies": {
    "@nuxtjs/composition-api":

[2022-08-04 06:09] danielroe commented on #666
This module is only for Nuxt 2. You can safely remove it from your Nuxt 3 project.

[2022-08-04 06:09] #666 closed

[2022-08-04 13:20] nestle49 opened #667 "help: compatibility @pinia/nux v0.2.1 with @nuxt/composition-api v0.33.1"
It's right that at the moment **@nuxt/composition-api** v**0.33.1** is incompatible with **@pinia/nuxt**": "^**0.2.1**"?

We use nuxt2 with "@pinia/nuxt": "^0.2.1" (last version of pinia compatible with nuxt2), next versions required **nuxt/bridge**

I get error:
`Cannot find module '@vue/composition-api'`

But if install and @vue/composition-api
[code]

@danielroe can you suggest me please it's r

[2022-08-04 16:25] acibilous commented on #651
@iamandrewluca , make sure you are importing `defineComponent` from @nuxtjs/composition-api. It's not same in vue module))

[2022-08-04 17:24] iamandrewluca commented on #651
@acibilous Thanks a lot! Didn't expect that 😀

[2022-08-04 17:32] #651 closed

[2022-08-05 01:45] Verdicts-ye commented on #666
Thanks

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Daniel ***@***.***&gt;;
发送时间: 2022年8月4日(星期四) 下午2:09
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [nuxt-community/composition-api]  The requested module &#39;vue&#39; does not provide an export named &#39;set&#39; (Issue #666)

Closed #666 as not planned.

&mdash;
Reply to this email directly, view it on GitHu

[2022-08-05 08:22] danielroe commented on #667
It looks like you will need to use a lower level of `@nuxtjs/composition-api` as we now depend on Vue 2.7.

I would recommend you use `@nuxt/bridge`.

[2022-08-05 08:22] #667 closed

[2022-08-06 05:06] mango-martin commented on #493
@danielroe
It seems to not work when an error is being caught.
I've edited your [codesandbox](https://codesandbox.io/s/staging-thunder-mje2d7?file=/pages/index.vue)

This runs once
[code]

This runs twice
[code]

Is this by design?

[2022-08-06 05:55] mango-martin commented on #493
I've looked at the source code and found out why this happens.

The if clause that checks whether to run the cb or not checks for any falsy value. So whenever you return `null | undefined | false | ''` it will run again.

I think it's a bit limiting in design. How about changing this check:
[code]
to
[code]

It still limits in that you cannot return null.
A workaround would be to just add a flag t

[2022-08-07 03:26] elkhayder commented on #624
+1

[2022-08-08 06:03] theolavaux opened #671 "fix: Cannot use import statement outside a module"
**🐛 The bug**
Since I upgraded to `0.33.0`, my tests are not passing anymore because it seems like Jest is pointing to the wrong file.
`node_modules/@nuxtjs/composition-api/dist/runtime/index.mjs` instead of `node_modules/@nuxtjs/composition-api/dist/runtime/index.js`

**Full output**

[code]

**🛠️ To reproduce**
Steps to reproduce the behavior:

1. Create a new Nuxt 2 project
2. Configure Jest
3.

[2022-08-08 08:00] gping-system opened #672 "help: Unexpected token in Pathe"
**📚 What are you trying to do? Please describe.**
i'm useing nuxt@2.15.8 and upgrade @nuxtjs/composition-api to@0.33.1
when it build it comes error
[code]
it seems like babel-loader cant' resolve function in pathe which is dependencies of @nuxt/composition-api,
and i don't know how to fix it

**🔍 What have you tried?**

- I tried downgrade @nuxtjs/composition-api to @0.32.0 and it broken
![image](

[2022-08-08 08:10] danielroe commented on #672
I think you should simply be able to remove the `build.extend` entry in your nuxt config, and add `pathe` to your `build.transpile` array.

[2022-08-08 08:26] danielroe commented on #671
You can add an alias in your jest config:

[code]

[2022-08-08 08:26] #671 closed

[2022-08-08 08:58] theolavaux commented on #671
This is what I get

[code]

[2022-08-08 09:23] danielroe commented on #671
Well, you may need to confirm the exact path in your repo setup.

[2022-08-08 09:29] theolavaux commented on #671
Whoops yeah, I'm working on an Nx repo and I forgot that my node_modules is not directly located in the project itself, it works now, thanks, you rock 🎸

[2022-08-09 02:13] gping-system commented on #672
did't work
i have removed ```build.extend```and tried
- ```transpile: ['pathe'],```
- ```transpile: ['pathe/dist/index'],```
- ```transpile: ['pathe/dist/index.cjs'],```
- " yarn add pathe" with transpile setting
allmost same error message
[code]

[2022-08-09 02:44] nasirDoe opened #674 "help: defu__WEBPACK_IMPORTED_MODULE_3__ is not a function"
**📚 What are you trying to do? Please describe.**
i try to remove `"@nuxtjs/composition-api": "0.31.0"` from my project, but after i removed it. i got this error on my project. and then i try again to intalling this package and my project successfully run without this error.

**🔍 What have you tried?**
Have you looked through the docs? Tried different approaches? The more detail the better.

**ℹ️

[2022-08-09 08:40] danielroe commented on #674
You can manually install the version of `defu` that you need. Try running `yarn why defu` (or npm equivalent) to see what is requiring defu and what version you have.

[2022-08-09 08:42] danielroe commented on #672
Would you provide a small reproduction via https://stackblitz.com/github/nuxt/starter/tree/v2 ? :pray:

[2022-08-09 09:47] gping-system commented on #672
https://stackblitz.com/edit/github-n735uj-mvickg?file=nuxt.config.js,package.json
I find if i close  nuxt.config ```build.standalone``` and all worked, **why?**
```yarn dev``` server will complied without error and ```yarn build``` worked
I use  ```build.standalone``` becouse "vue-awesome-swiper": "4.1.1", (version for vue2)
its dependencies swiper5 and i'm using  "swiper": "^8.3.2" for typescript

[2022-08-09 09:51] nasirDoe commented on #674
i removing this module from `nuxt.config.js` and `node_modules`.

[2022-08-09 09:59] nasirDoe commented on #674
Thanks for your attention @danielroe my issue has been solved now.

`_You can manually install the version of defu that you need._`

I installed `defu@v5.0.1`. The latest `defu` still show the error

[2022-08-09 09:59] #674 closed

[2022-08-09 11:08] #672 closed

[2022-08-09 14:37] kouwasi commented on #661
I understood like the one above comment.
I gonna decided to use the defineComponent,

Thanks for your reply.

[2022-08-09 14:37] #661 closed

[2022-08-12 16:29] LTDanwithlegs commented on #672
@danielroe +1 on this from me.

I can reproduce in Nuxt nuxt@2.15.8 and trying to install @nuxtjs/composition-api to@0.33.1.

We are not using the swiper package that @gping-system was using. Though there does seem to be some evidence online to support the theory that this issue stems from package version mismatches. No idea what features or usages in these packages that are causing this issue. If

[2022-08-15 13:16] wszerad opened #677 "fix: ssrRef ignores null value"
**🐛 The bug**
If we set ssrRef to null it becomes undefined at client-side.

**🛠️ To reproduce**
it's because of nullish coalescing operator:
https://github.com/nuxt-community/composition-api/blob/main/src/runtime/composables/ssr-ref.ts#L60

**🌈 Expected behaviour**
Treat null as "defined" value of ssrRef

[2022-08-15 20:07] LCseniordev commented on #19
Hi, I'm facing the same issue with:
[code]
If there is any update on how to fix that?

[2022-08-16 14:42] LTDanwithlegs commented on #672
@danielroe I think we got it. The `pathe` package is using a single instance of the nullish coalescing operator on line 168 of `index.cjs` and on line 164 of `index.mjs`.

We added a rule to our webpack config using the `build.extend` function in `nuxt.config.js`:

[code]

[2022-08-19 09:29] IsraelOrtuno commented on #672
@LTDanwithlegs this definitely works. Thanks for sharing.

[2022-08-23 12:58] ferferga commented on #624
@danielroe I think this might be related to an issue I'm experiencing myself as well. This is my lockfile:

[code]

The ``vue`` version all Nuxt packages packages are using is ``^2.6.12``, so there's a mismatch. Check https://github.com/jellyfin/jellyfin-vue/pull/1765 for logs

[2022-08-23 12:59] danielroe commented on #624
You will need to update your lockfile so the vue version is updated.

[2022-08-29 14:23] haykkh commented on #521
I was having this same issue, solved it by adding `{ deep: true }`
[code]

[2022-09-05 07:58] trinhngocdieu opened #688 "fix: ref, reactive, ... are not reexported from @nuxtjs/composition api"
**🐛 The bug**
Installing the `@nuxtjs/composition-api` to the codebase  that is currently using Nuxt 2,
but can not use Composition-API (`ref`, `reactive`, ...), the error happened as following screenshot:

<img width="881" alt="Screen Shot 2022-09-05 at 16 17 35" src="https://user-images.githubusercontent.com/7900090/188398455-409cd79a-bb8a-4e08-a3c9-851b4b74b828.png">

**🌈 Expected behaviour**
C

[2022-09-13 07:51] lowbits opened #692 "Error: Cannot find module '@vue/composition-api' after upgrade from 32 to 0.33.1"
**📚 What are you trying to do? Please describe.**
After upgrading the dependency from 0.32.0 to 0.33.1 I get the error. When running yarn dev and yarn build

`Cannot find module '@vue/composition-api' `

**🔍 What have you tried?**
Added `transpile: [/@vue[\\/]composition-api/]` to nuxt config
Removed .nuxt, yarn.lock
Cleaned yarn cache

**ℹ️ Additional context**
Stack Trace:

[code]

[2022-09-13 08:04] #692 closed

[2022-09-13 08:05] lowbits commented on #692
Nevermind i think a package I used in my application used still an old version of composition API

[2022-09-13 16:45] SuMon-DevXHub opened #693 "[Vue warn]: The setup binding property "formatSettingsExpand" is already declared."
<script>
import { defineComponent, ref } from '@nuxtjs/composition-api'
export default defineComponent({
   setup() {
      const formatSettingsExpand = ref(false)
      return {
         formatSettingsExpand,
      }
   }
})
</script>

![error](https://user-images.githubusercontent.com/96725627/189959405-f4780798-9977-481a-9b01-3453f1befc88.png)

[2022-09-14 08:05] danielroe commented on #584
No, it will not.

[2022-09-14 08:36] danielroe commented on #693
Would you provide a reproduction? 🙏

[2022-09-14 08:45] danielroe commented on #652
`useAsync` is meant to return a value. If no value is returned it will run it again.

[2022-09-21 06:31] dvoulety commented on #671
Hi, after updating to v0.33.1, I got also error `SyntaxError: Cannot use import statement outside a module`. So I added `node_modules/@nuxtjs/composition-api/dist/runtime/index.js` to jest.config.js.
But now I get this error:
[code]

Any idea?

My jest.config.js
[code]

my package.json
[code]

my tsconfig
[code]

[2022-09-22 20:38] aldarund commented on #652
@danielroe so useFetch cant be used to dispatch vuex calls, and useAsync cant be used to dispatch vuex calls ( as they store into state and not used directly retunred values usually). What left then?

[2022-09-23 15:02] danielroe commented on #652
@aldarund You _can_ use it to do that: https://stackblitz.com/edit/github-s9qt7x?file=pages%2Findex.vue. But if you don't want it to be run more than once you will need to ensure a value - any value - is returned.

[2022-09-23 15:02] #652 closed

[2022-09-28 15:00] aldarund commented on #652
@danielroe ye i though about it, not so clean solution but anyway. Btw if in your example return empty string instead of dict - it will break and will be called both client and server

[2022-10-08 15:43] josueayala27 commented on #590
This question was answered along with the issue #637

[2022-10-09 14:41] #590 closed

[2022-10-11 02:41] Mikephii opened #711 "fix: shallowSsrRef doesnt sync client and server in Nuxt"
**🐛 The bug**

when creating a shallowSsrRef using the pattern described in docs, ref value is always reset to the intialiastion value provided to shallowSsrRef() on client.

Server ref value will be returned by SSR and displayed on screen momentarily before client code runs and sets the shallowSsrRef to the initialisation value. Basically it doesnt work.

**🛠️ To reproduce**

1. create a shallowS

[2022-10-11 10:27] danielroe commented on #711
Would you provide a reproduction? 🙏

[2022-10-12 09:49] ThinkingAbout opened #712 "route.value: Cannot read properties of undefined (reading '_route')"
**🐛 The bug**
Hi, the use of `route.value` now produces this error:

![Schermata 2022-10-12 alle 11 40 45](https://user-images.githubusercontent.com/682778/195310179-b070848e-fb71-4e96-9d2b-d959e36fbd16.png)

[Link stackblitz](https://stackblitz.com/edit/nuxt-starter-3qtx5w?file=pages%2Findex.vue)

Can someone please help?
Thanks,
Matteo

[2022-11-14 10:50] Edith2019 opened #716 "help: TypeError: Cannot destructure property 'store' of '(0 , _compositionApi.useContext)(...)' as it is undefined."
Hi everyone,

I am setting up tests on a `Nuxt2` app using `@nuxtjs/composition-api `and `@vue/test-utils`.

In addition, there is a `vue-CLI` UI library using `@vue/composition-api` and `vue-demi`.

The issue is that even if the context is mocked as per solution [here](https://github.com/nuxt-community/composition-api/issues/248), our store is still `undefined` and the tests are failling.

`/////

[2022-11-15 15:41] adrianwix commented on #584
@danielroe One question how do you use useAsync then to fetch data where you have 2 API calls and the second call depends on the first one? What my team end up doing is the following
[code]
in this the right way? from my understanding if useAsync is analogous to `asyncData` it should be something like

[code]

I am asking here because we face these doubts because of the error mentioned in this thr

[2022-11-20 09:57] ashish141199 commented on #437
Any updates ? Same issue.

[2022-11-28 10:36] Daewon25 commented on #19
Hi same here.
Any updates?